@import "tailwindcss";

@theme {
    --color-primary: #EA580C;
    --color-secondary: #2563EB;
    --color-background-light: #F9F9F7;
    --color-background-dark: #111827;
    --color-surface-light: #FFFFFF;
    --color-surface-dark: #1F2937;
    --color-text-light: #171717;
    --color-text-dark: #F3F4F6;
    --color-neutral-light: #E5E7EB;
    --color-neutral-dark: #374151;

    --font-display: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-background-light text-text-light font-body transition-colors duration-300;
}

@media (prefers-color-scheme: dark) {
    body {
        @apply bg-background-dark text-text-dark;
    }
}

.custom-scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scrollbar-hidden::-webkit-scrollbar {
    display: none;
}